 {% load static from staticfiles %}

{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

{% block title %}
    <title>Gen Page | GrocerEase</title>
{% endblock %}
    <!-- Bootstrap core CSS -->
    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">-->

    <!-- Custom styles for this template -->
    <!--<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">-->
    <!--<link href="css/signin.css" rel="stylesheet">-->
    
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    


{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}
    
    
  </head>
  <body>
    <div class="container">

      {% block message %}{% endblock %}{% block body_block %}{% endblock %}{% block content %}
      <div class="form">
            Products Generated: {{ productCount }}
        </div>
<!-- Broke the line below to avoid reset password zone....-->
<!--<p>{/% trans "Forgot your password, huh?" %} <a href="{/% url 'auth_password_reset' %}">{/% trans "Reset it" %}</a>.</p>-->
<p class ="other-text">{% trans "Various debug info and fun buttons: " %}</p>
<p class ="other-text">{% trans "Logged in as: " %} {% if user.is_authenticated %}{{ user.username }}{% else %}Null{% endif %}</p>
<form action="{% url 'data:gen' %}" method = "post" enctype = "multipart/form-data"><p class ="other-text">{% trans "There are currently" %} {{ productCount }} {% trans "products." %} 
            {% csrf_token %}<input style="width:30%;" class="btn btn-default btn-md" type="submit" name="purge_products" value="Purge These?" /></form></p>

<p class ="other-text">{% trans "Ready to leave?" %} <a href="{% url 'dashboard' %}">{% trans "Return Home" %}</a>.</p>
<br><br>
{{message}} 
{% endblock %}

    </div> <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
