/* Color of the list*/


/* Highlight (Color of div container) of the list items */
/*.widget-livelist  div{ */
/*    background-color: #777;*/
    /*vertical-align: top;*/
/*}*/

.widget-livelist .widgetContainer{
    vertical-align: top;
    height: 100%;
    background-color: #777;
}



/*.widget-livelist #listDisplay {*/
    /*background-color: #000;*/
    /*display: inline-table;*/
    /*position: relative;*/
/*    height: 92%;*/
    /*bottom: 0;*/
    
/*}*/

.widget-livelist .viewContents{
/*    background-color: #777;*/
    /*position: relative;*/
    /*height: 95%;*/
    /*padding: 0;*/
    /*bottom: 0;*/
    top: 6%;
/*    height: 92%;*/
    /*transform: translate(0, -50%);*/
    /*vertical-align: middle;*/
    /*display: table;*/
    /*vertical-align: middle*/
}

/*.widget-livelist .contents{*/
    /*background-color: #000;*/
/*    position: relative;*/
    /*height: 95%;*/
    /*padding: 0;*/
    /*bottom: 10px;*/
    /*height: 5%;*/
/*    top: 3%;*/
    /*height: 95%;*/
    /*transform: translate(0, -50%);*/
    /*vertical-align: middle;*/
    /*display: table;*/
    /*vertical-align: middle*/
/*}*/

.widget-livelist p{
    /*background-color: #000;*/
    /*position: relative;*/
    /*top: 10%;*/
    /*bottom: 2%; */
    /*height: 5%;*/
    /*transform: translate(0, -50%);*/
    /*vertical-align: middle;*/
    /*display: table;*/
    /*vertical-align: middle*/
}

/*.widget-livelist #listDisplay h1{*/
    /*background-color: #000;*/
/*    position: relative;*/
/*    vertical-align: middle;*/
    /*top: 23%;*/
/*}*/

/*.widget-livelist #listDisplay ul{*/
    /*background-color: #000;*/
/*   position: relative;*/
/*    vertical-align: middle;*/
    /*bottom: 20px;*/
/*}*/

/* Color of the list title*/
.widget-livelist h1 { 
    color: rgba(255, 255, 255, 0.7);
}

/* This is useful but can be tricky because settings seem to carry over to the larger gridster container*/
.widget-livelist ol, ul {
    /* margin values: 1st - top margin between list title and first item 
                      2nd - side margins between items and list edge */
    margin: 5px 10px;
    text-align: left;


    
    /* For IDK */
    color: rgba(255, 255, 255, 0.7);
}

/*.widget-livelist div{*/
/*    height: 90%;*/
/*    overflow-y:scroll;*/
/*}*/


/* Placement of the bullets */
.widget-livelist ol {
    list-style-position: inside;
}

/* Item container */
.widget-livelist li {
    width: 100%;
    margin-bottom: 10px;
    background-color: #777;
}


/* No one likes the bullets on a list */
.widget-livelist .list-nostyle {
    list-style: none;
}


.itemContainer .input-group{
    width:100%;
    /*margin-right: 10%;*/
}

/* Color of each item */
.widget-livelist .itemLabel {
    color: rgba(255, 255, 255, 0.7);
}

 /* Items quantity */
.widget-livelist .quantity {
    float: right;
    /*margin-left: 12px;*/
    /*width:%;*/
    
    /*font-weight: 600;*/
    /*color: rgba(255, 255, 255, 0.7);*/
}

.widget-livelist .item{
    width: 70%;
}

.widget-livelist #itemCheckButton{
    float: right;
    margin-right: 25px;
    /*font-weight: 600;*/
    /*color: rgba(255, 255, 255, 0.7);*/
}
.widget-livelist #itemUncheckButton  {
    float: right;
    /*margin-left: 12px;*/
    /*font-weight: 600;*/
    /*color: rgba(255, 255, 255, 0.7);*/
}
/*.widget-livelist .quantity  {*/
/*    float: right;*/
/*    width: 35%;*/
    /*margin-left: 12px;*/
    /*font-weight: 600;*/
    /*color: rgba(255, 255, 255, 0.7);*/
/*}*/

/* Edit view input text color*/
input, input:focus {
    color: #000;
}

/* EDIT span */
.widget-livelist .edit {
    margin-top:20px;
}

/* Color of sync status */
.widget-livelist .updated-at {
    color: rgba(0, 0, 0, 0.3);
}

/* Color of the more info block, inherited from lists widget */
/*.widget-livelist .more-info {*/
/*    color: rgba(255, 255, 255, 0.7);*/
/*}*/

/* widgetContainer*/
/*.widget { */
/*    height: 50%;*/
/*}*/

/* This is for highlighting the list items in list and edit views*/
/*.outlineElement {*/
/*  outline: 1px solid #c00;*/
/*}*/
 
/*.outlineElementClicked {*/
/*  outline: 1px solid #0c0;*/
/*}*/







/*.bigform-content {*/
/*    border: solid 5px #DDD;*/
/*    margin: 30px 20px;*/
/*    overflow: hidden;*/
/*    padding:20px;*/
/*    position:relative;*/
/*}*/
/*.modal, .modal-backdrop {*/
/*    position: absolute !important;*/
/*}*/
/*.bigform-content h1 {*/
/*    margin:0;*/
/*}*/
/*.bigform-content input[type=submit] {*/
/*    margin-top:10px;*/
/*}*/

/*.tag .active  {*/
/*    background-color: #222222;*/
/*}*/



/*.widget-livelist { */
/*    background-image: url("http://i.imgur.com/p3RyuCE.jpg?1");*/

/*}*/


/*.widget-livelist #tagDisplay {*/

    /*vertical-align:top;*/
/*    background-color: #d9534f;*/
    
/*}*/
#tagDisplay{
    width: 100%;
    height: 5%;
    margin-bottom:10px;
    /*background-color: #000;*/
}

.tagColorSet {
    float: left;
    width: 74px;
    height: 100%;
}

.tagColor {
    float: left;
    width: 74px;
    height: 50%;
}

.HealthyTagColor{ background-color: #4cae4c; }
.UnhealthyTagColor{ background-color: #d9534f; }
.CheapTagColor{ background-color: #46b8da; }
.ExpensiveTagColor{ background-color: #eea236; }
.MealTagColor{ background-color: #2e6da4; }
.UnsetColor{ background-color: #000; }


.checkedItem{
    color: rgba(0, 0, 0, 0.3);
}


.btn-listview{
    background-color: #444;
}

.shrink{
    width: 0;
}